@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

* {
  // outline: 1px solid red;
}

.dashed {
  background: 
    linear-gradient(90deg, white 50%, transparent 50%),
    linear-gradient(0deg, white 50%, transparent 50%),
    linear-gradient(90deg, white 50%, transparent 50%),
    linear-gradient(0deg, white 50%, transparent 50%);
  --line-length: 50px;
  --line-width: 4px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: var(--line-length) var(--line-width), var(--line-width) var(--line-length), var(--line-length) var(--line-width), var(--line-width) var(--line-length);
  background-position: left top, right top, left bottom, left top;
  padding: var(--line-width);
  animation: border-dance 15s infinite linear;
  outline: none;
}
	
@keyframes border-dance 
{
  0%
  {
    background-position: left top, right top, right bottom, left bottom;
  }
  100% 
  {
    background-position: right top, right bottom, left bottom, left top;
  }
}

@layer base {
  :root {
    --background: 224 100% 97%;
    --foreground: 225 100% 4%;
    --card: 224 100% 97%;
    --card-foreground: 225 100% 4%;
    --popover: 224 100% 97%;
    --popover-foreground: 225 100% 4%;
    --primary: 221 96% 54%;
    --primary-foreground: 224 100% 97%;
    --secondary: 61 95% 74%;
    --secondary-foreground: 225 100% 4%;
    --muted: 224 100% 20%;
    --muted-foreground: 225 100% 70%;
    --accent: 128 96% 62%;
    --accent-foreground: 225 100% 4%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 225 100% 4%;
    --border: 224 100% 20%;
    --input: 224 100% 20%;
    --ring: 128 96% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 100% 3%;
    --foreground: 225 100% 96%;
    --card: 224 100% 3%;
    --card-foreground: 225 100% 96%;
    --popover: 224 100% 3%;
    --popover-foreground: 225 100% 96%;
    --primary: 221 96% 46%;
    --primary-foreground: 225 100% 96%;
    --secondary: 61 95% 26%;
    --secondary-foreground: 224 100% 3%;
    --muted: 224 100% 80%;
    --muted-foreground: 225 100% 96%;
    --accent: 128 96% 38%;
    --accent-foreground: 224 100% 3%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 225 100% 10%;
    --border: 224 100% 60%;
    --input: 224 100% 80%;
    --ring: 128 96% 60%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
